.cabecalho {
    list-style: none;
  }
  
  .cabecalho li {
    margin-right: 8px;
    display: inline-block;
    align-items: end;
  }
  
  .cabecalho a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 200ms;
  }
  
  .cabecalho a:hover {
    color: #ffffff;
  }
  
  .styleCab {
    margin: 0;
    background: rgb(77, 69, 69);
    padding: 20px 0;
    
  }
  
  h1 img {
    margin-left: 20px;
    max-width: 40%;
  }
  
  h1 img:hover {
    cursor: pointer;
  }
  




/* header {
    background: #cfd8dc;
    padding: 20px 0;
  }
  
  .navbar {
    margin: 0 auto;
    position: relative;
    width: 940;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 img {
    margin-left: 20px;
    max-width: 40%;
  }
  
  h1 img:hover{
    cursor: pointer;
  }
  
  nav {
    position: absolute;
    right: 60px;
  }
  
  nav li {
    display: inline;
    margin-right: 8px;
    margin: 0, 0, 0, 15px;
  }
  
  nav a {
    text-transform: uppercase;
    color: #37474f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 200ms;
  }
  
  nav a:hover {
    color: #607d8b;
    text-decoration: underline;
  } */