body {
    background-color: rgb(24, 25, 110);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Estilização dos tópicos */
#container {
    width: 80%;
    margin: 80px auto;
}

.menu ul {
    padding: 0;
    list-style: none;
    width: 32%;
}

.menu li>a {
    color: #fff;
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: all 0.5s ease;
}

.menu li>a:hover {
    color: #a361ef;
    letter-spacing: 4px;
}

.menu li>a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.5s ease;
    background-color:  rgba(248, 80, 50, 1);
    background-color: -moz-linear-gradient(esquerda, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background-color: -webkit-gradient(topo esquerdo, canto superior direito, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(50%, rgba(241, 111, 92, 1)), color -stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(231, 56, 39, 1)));
    background-color: -webkit-linear-gradient(esquerda, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background-color: -o-linear-gradient(esquerda, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background-color: -ms-linear-gradient(esquerda, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background-color: gradiente linear(para a direita, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=1);
}

.menu li>a:hover::after {
    width: 80%;
}
/* Estilização dos tópicos */




