body{
    background-image: url('https://img.freepik.com/fotos-gratis/conceito-de-m…el-de-parede-do-fundo-do-material_53876-30425.jpg');
}


.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .products li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 19px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-basis: 20%;
    transition: 0.6s;
    background-image: url('https://img.freepik.com/fotos-gratis/ferramentas-de-construcao-e-acessorios-de-trabalho-em-madeira-empregos-e-conceito-de-carreira_53876-143259.jpg');
  }
  
  
.products li:hover{
      transform: scale(1.2);
      border-color: rgb(255, 255, 255);
  }

h2{
    color: white;
}
  
  p{
    font-size: 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }