body{
    background-image: url('https://img.freepik.com/fotos-gratis/conceito-de-m…el-de-parede-do-fundo-do-material_53876-30425.jpg');
}


.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .products li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 19px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-basis: 20%;
    transition: 0.6s;
    background-image: url('https://i.pinimg.com/736x/88/53/98/885398c8597a0821aeda97831965e4f6.jpg');
  }
  
  
.products li:hover{
      transform: scale(1.2);
      border-color: rgb(255, 255, 255);
  }

h2{
    color: white;
}
  
  p{
    font-size: 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  .conheca{
    float: right;
    display: inline-block;
    font-family: 'Roboto Mono', monoespaçado;
    height: 100px;
    width: 50%;
    border-radius: 5%;
    align-items: center;
}

.conhecageral:hover h1{
    transform: scale(1.1);
    letter-spacing: 1px;
    transition: all 1s ease;
}

.conhecageral:hover img{
    transform: scale(1.1);
    transition: 1s;
}

.conhecaimg{
    display: inline-block;
}

.conhecageral img{
    height: 200px;
    margin-left: 80px;
}

.conheca h1{
    margin-right: 90px;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.conhecageral{
    background-image: linear-gradient(to right, black, rgb(43, 42, 42), rgb(95, 94, 94));
    height: 200px;
}

.serv a{
  font-family: 'Roboto Mono', monospace;
}
